@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

* {
    font-family: Pretendard;
}

button {
    --color: #ffcc4d;

    padding: 10px;
    color: #000000;
    font-size: 20px;
    background: var(--color);
    border: 1px solid var(--color);
    border-radius: 0.25rem;
}

button:hover {
    --color: #e1b546;
}
